{% extends "base.html" %}
{% block title %}Listado de Asistencias{% endblock %}

{% block content %}

<h2>Asistencias</h2>

<form method="get" class="mb-4 p-3 border rounded bg-light">
    <div class="row">
        <div class="col-md-3">
            {{ form.empleado.label_tag }} {{ form.empleado }}
        </div>
        <div class="col-md-3">
            {{ form.departamento.label_tag }} {{ form.departamento }}
        </div>
        <div class="col-md-3">
            {{ form.fecha_desde.label_tag }} {{ form.fecha_desde }}
        </div>
        <div class="col-md-3">
            {{ form.fecha_hasta.label_tag }} {{ form.fecha_hasta }}
        </div>
    </div>
    <button class="btn btn-primary mt-3">Filtrar</button>
</form>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Empleado</th>
            <th>Departamento</th>
            <th>Fecha</th>
            <th>Hora llegada</th>
            <th>Horas trabajadas</th>
            <th>Horas extra</th>
            <th>Ausencia</th>
            <th>Observaciones</th>
        </tr>
    </thead>
    <tbody>
        {% for a in asistencias %}
        <tr>
            <td>{{ a.empleado.informacion_personal.nombre }} {{ a.empleado.informacion_personal.apellido }}</td>
            <td>{{ a.empleado.departamento.nombre }}</td>
            <td>{{ a.fecha }}</td>
            <td>{{ a.hora_llegada }}</td>
            <td>{{ a.horas_trabajadas }}</td>
            <td>{{ a.horas_extra }}</td>
            <td>{{ a.horas_ausencia }}</td>
            <td>{{ a.observaciones }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="8" class="text-center">No se encontraron registros (¬_¬)</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

